<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CS242 SVN Commits</title>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Lora:400italic,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/bundle.min.css">
  </head>
  <body>
    {{{body}}}
    <script src="js/bundle.js"></script>
  </body>
</html>