header{
	width: 100%;
	height: spacing(4);
	margin: 0;
	padding-left: spacing(1);
	padding-right: spacing(2);
	
	background-color: $orange;
	color: white;
	box-shadow: 0 1px 5px #ccc;
}

header .title{
	@include type-setting(3);
}