.commit{
	margin: 0;
	margin-top: spacing(0);
	width: 50rem; // shitty width, fix later
}

.entry{
	width: 100%;
	margin: 0;
	padding: spacing(0);
	
	@include flexbox;
	@include flex-dir(row);
	@include flex-wrap(wrap);
	@include flex-just(space-between);	
	
	@include type-setting(2);
	background-color: white;
	box-shadow: 0 1px .3rem #ccc;
}

.entry .msg{
	width: 100%;
	margin: 0;
}

.entry .date{
	margin: 0;
}

.entry .detail-button{
	padding: 0;
	height: spacing(2);
	border: 0;
	
	background-color: white;
	font-size: 2 * $base-font-size;
}