$entry-spacing: 20px;

.entry{
	margin: auto;
	margin-top: $entry-spacing;
	margin-bottom: $entry-spacing;
	padding: $entry-spacing;
	
	width: 100%;
	
	@include type-setting(1);
	
	background-color: white;
}