.comment{
	height: spacing(0);
	padding: 0;
	
	clear: both;
	@include clearfix();
	
	word-break: break-all;
	@include type-setting(0);
	
	color: $grey;
}

.comment p{
	float: left;
}

.comment button{
	float: right;
	
	height: 100%;
	
	border: 0;
	border-radius: 0;

	background-color: $off-white;
}