.form{
	@include type-setting(1);
	@include flexbox;
	@include flex-dir(row);
	@include flex-just(flex-start);	
	width: 100%;
	margin-top: spacing(-1);
}

.form input[type='text']{
	width: 100%;
}

.form input[type='submit']{
	
}
