// breakpoints
$small-bp: 500px;
$medium-bp: 800px;

// webfonts
@font-face {
	font-family: Dosis;
	src: url(https://fonts.googleapis.com/css?family=Dosis);
	font-weight: 400;
}

// font and line height consistency
$base-font-size: 1rem;
$base-line-height: 1.25 * $base-font-size;

$type-settings: (
  -1: (
    font-size: 0.75rem,
    line-height: $base-line-height
  ),
  0: (
    font-size: 1rem,
    line-height: $base-line-height
  ),
  1: (
    font-size: 1.333rem,
    line-height: $base-line-height * 2
  ),
  2: (
    font-size: 1.778rem,
    line-height: $base-line-height * 2
  )
);

@function type-scale($level) {
  @return map-get(
    map-get($type-settings, $level), 'font-size');
}

@function line-height($level) {
  @return map-get(
    map-get($type-settings, $level), 'line-height');
}

@mixin type-setting($level) {
  font-size: type-scale($level);
  line-height: line-height($level);
}

@import "layout/all";
@import "components/all";
@import "utils/all";
@import "vendor/all";