// modules and variables
@import "components/base";

html,body{
  height: 100vh;
  margin: 0;
  padding: 0;
	font-family: Dosis;
	font-size: 62.5%;
}

#wrapper {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
}